html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #fff;
  background-color: #222;

  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
