.content {
  height: 100%;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  height: 130px;
}

.form,
.list_response {
  background-color: #ffffff;
  color: #222;
  padding: 16px;
}
.form {
  display: flex;
  justify-content: center;

  background-color: #ffffff;
  color: #222;

  margin-top: 20px;
}
.form input {
  border: 3px solid rgb(20, 120, 227);
  border-radius: 4px;

  padding: 8px;
  margin-right: 6px;
}

.form input:focus {
  outline-color: rgb(20, 120, 227);
}

.form button {
  font-weight: bold;

  color: #ffffff;
  background-color: #222222;

  border: none;

  cursor: pointer;

  padding: 8px;
}

.list_response {
  background-color: #ffffff;
  color: #222;

  padding-left: 16px;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list_response li {
  margin-bottom: 6px;

  font-weight: bold;
}

@media (min-width: 768px) {
  .content {
    width: 500px;
  }
}
