.social_media_list {
  padding: 0;

  width: 100%;

  display: flex;
  justify-content: space-around;

  list-style: none;

  font-weight: bold;
}

@media (min-width: 768px) {
  .social_media_menu {
    justify-content: center;
    align-items: center;
  }
}
